 :root {
     --primary-color: whitesmoke;
     --primary-color-dark: rgb(180, 180, 180);
     --secondary-color: rgb(156, 100, 100);
     --secondary-color-dark: rgb(109, 69, 69);
     --background-color: linear-gradient(black, grey, black);
     --secondary-background-color: rgb(48, 47, 47);
 }

 * {
     margin: 0;
     box-sizing: border-box;
     width: auto;
 }

 body {
     margin: none;
     height: 100vh;
     background: var(--background-color)
 }

 header {
     margin-bottom: 10%;
 }

 nav {
     margin: none;
     background-color: var(--secondary-background-color);
     height: 25%;

     ul {
         display: flex;
         justify-content: center;
         gap: 8px;

         li {
             padding: 8px 8px;
             list-style: none;
             transition-duration: 1s;
             transition-property: scale;
             transition-timing-function: ease-in-out;

             &:hover {
                 scale: 1.25;
             }
         }

         a {
             text-decoration: none;
             color: var(--primary-color);

             &:hover {
                 color: var(--secondary-color);
             }
         }
     }

 }

 #sobre-mi {
     height: 30%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 16px;
     margin-bottom: 48px;

     .description {
         order: 2;
         width: 50vw;

         h1 {
             font-size: x-large;
             color: var(--secondary-color);
             margin-bottom: 16px;
         }

         p {
             color: var(--primary-color-dark);
             font-size: medium;
             padding-left: 4px;
         }
     }

     img {
         border-radius: 100%;
         width: auto;
         height: 18vh;
     }
 }

 #proyectos {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: auto;
     padding-top: 12px;
     border-top: 1px solid;
     border-color: rgba(128, 128, 128, 0.25);
     gap: 24px;
     margin-bottom: 24px;

     h2 {
         font-size: xx-large;
         color: var(--secondary-color-dark);
         height: min-content;
     }

     div {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0 24px 10px;
         width: 80%;
         border: grey 1px dashed;

         article {
             padding: 15px;
             max-width: 50vw;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             transition-duration: 1s;
             transition-property: scale;
             transition-timing-function: ease-in-out;

             h3 {
                 color: var(--primary-color);
                 margin-bottom: 14px;
             }

             img {
                 height: 18vh;
                 width: auto;
                 margin-bottom: 14px;
             }

             p {
                 color: var(--primary-color-dark);
                 font-size: smaller;
                 text-align: center;
             }

             &:hover {
                 scale: 1.1;
             }

         }
     }

 }

 #tecnologias {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 30%;
     gap: 24px;

     h2 {
         color: var(--secondary-color);
     }

     .carousel-container {
         border: grey 1px dashed;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 80%;
         height: 45%;

         #carousel {
             display: flex;
             overflow-x: scroll;
             scrollbar-width: none;
             width: inherit;
             gap: 24px;

             .item {
                 display: flex;
                 justify-content: center;
                 align-items: center;

                 svg {
                     background-color: grey;
                     border-radius: 5px;
                     padding: 5px;
                     max-width: 15vw;
                     min-width: 15vw;
                     max-height: 15vw;
                     min-height: 15vw;

                 }
             }
         }
     }
 }

 #certificados {
     display: flex;
     align-items: center;
     flex-direction: column;
     align-items: center;
     height: auto;
     gap: 24px;

     h2 {
         color: var(--secondary-color);
     }

     .carousel-container {
         border: grey 1px dashed;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 80%;
         height: auto;

         #carousel {
             display: flex;
             overflow-x: scroll;
             scrollbar-width: none;
             width: inherit;
             gap: 24px;

             .item {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 img{
                    height: auto;
                    width: 200px;
                 }

             }
         }
     }
 }