* {
    margin: 0;
}

nav {
    margin: 0;
    width: 100vw;
    background-color: rgb(74, 69, 69);
    height: 5vh;

    ul {
        display: flex;
        justify-content: center;
        gap: 2px;
        li {
            margin-top: 2px;
            padding: 2px 5px;
            list-style: none;
        }

        a {
            text-decoration: none;
            color: whitesmoke;
            &:hover{
                color: black;
            }
        }
    }

}